body {
	margin-top: 0px;
	color: #151515;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background-color: #EFF5F8;
}
#wrapper {
	background-color: #FFFFFF;
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#hero {
	position: relative;
	clear: left;
}
#hero article {
	width: 36%;
	position: absolute;
	right: 43px;
	top: 40px;
	background-color: #FF9933;
	border-radius: 26px;
	margin-top: 44px;
	margin-right: 44px;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 1%;
	padding-bottom: 0%;
	color: #FFFFFF;
}
#hero h2 {
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 6px;
	margin-bottom: -7px;
}



#hero img {
	max-width: 100%;
}
h1, h2,h5,h6{
	color: #F2250A;
	font-style: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

h1 {
	font-size: 300%;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}
h5 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 70%;
    color: #006C94;
    text-align: center;
}
h6{
    margin-top: 2%;
	margin-bottom: 2%;
        font-size: 32px;
        color: #006C94;
        text-align: right;
        
    
}
#main {
	width: 33%;
	margin-left: 2%;
	float: left;
}
#adminmain {
	width: 50%;
	margin-left: 2%;
	float: left;
}
#mainbook {    
	width: 60%;
	margin-left: 2%;
	margin-right: 2%;
}
#adminsidebar {
	width: 42%;
	margin-left: 4%;
	float: left;
}
#sidebar {
	width: 34%;
	margin-left: 4%;
        margin-right: 2%;
	float: left;
}
footer {
	clear: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #F2250A;
	color: #FFFFFF;
	text-align: center;
}
figure {

}
#bikeinfomainphoto  {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 1px 1px 15px #999999;
	box-shadow: 1px 1px 15px #999999;
}

figcaption {
	font-weight: bold;
	font-size: 14px;
	display: block;
	text-align: center;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.floatleft {
	margin-right: 10px;
	float: left;
}
.floatright {
	margin-left: 10px;
	float: right;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #FFFFFF;
}
a:active {
}
a:focus {

}
#mainnav ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#mainnav a {
	display: block;
	float: left;
	width: 14.285%;
	text-align: center;
	background-color: #D65B4B;
	color: #FFFFFF;
	text-transform: uppercase;
}
#mainnav a:hover {
	text-decoration: none;
	background-color: #F2250A;
}
#mainnav a:active {
}
#mainnav a:focus {
}
#mainnav a.thispage {
	background-color: #F2250A;
	text-decoration: none;
}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 150%;
}
h4 {
	font-style: normal;
	font-weight: 400;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin-top: -103px;
	margin-left: 7px;
	font-size: 200%;
}


h5 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #F2250A;
    color: #FFFFFF;
}  

#bookbutton {
	display: inline;
	position: relative;
	bottom: -389px;
	background-color: #FF3300;
	border-radius: 51px;
	padding-top: 13px;
	padding-right: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
	font-style: normal;
	font-weight: 900;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: #FFFFFF;
	font-size: 150%;
	left: -189px;
}
#bookbutton a {
	font-style: normal;
	font-weight: 900;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}


#mainbike {
	text-align: center;


}
#bikeinfophoto {
	margin-left: auto;
	margin-right: auto;


}
#mainbike #bikeinfophoto img {
	width: 43%;
	height: 33%;
}
#mainbike h2 {
	text-align: center;
	margin-bottom: 1px;
	font-size: 223%;
}
#bikeinfoinfo {
	margin-left: auto;
	margin-right: auto;
	background-color: #E8E8E8;
	width: 45%;
	display: block;
	text-align: center;
	-webkit-box-shadow: 0px 0px 16px #CCCCCC;
	box-shadow: 0px 0px 16px #CCCCCC;
}
#arrows {
	margin-bottom: 0;
	margin-right: auto;
	margin-top: 26px;
	margin-left: auto;
	width: 272px;
	











}
#bookbuttonbikeinfo  {
	display: block;
	background-color: #FF0000;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 156%;
	border-radius: 25px;
}


#textbox {
	display: inline-block;
	float: right;
	margin-left: -135px;
	padding-top: 0px;

}
.textbox {
	display: inline-block;
	float: right;
	margin-left: -135px;
	padding-top: 0px;

}
#id {
	width: 19%;
	display: block;
	margin-left: auto;

}
.id {
	width: 19%;
	display: block;
	margin-left: auto;

}
#bookingheader h1 {
	font-size: 168%;
	background-color: #43A6CB;
	color: #FFFFFF;

}
.biketypes {
	background-color: #CCCCCC;
	color: #FFFFFF;
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0px;

}
#admin {
	color: #FFFFFF;
	
}
#return {
	color: black;
	display: inline;
	text-align: right;
	text-transform: uppercase;
        
}
#textbox2 {
        float:right;
   
    clear:both;
    
   
        
}
.textbox2 {
        float:right;
   
    clear:both;
    
   
        
}

table, td, th
{
border:1px solid #43A6CB;
vertical-align:middle;

}
th
{
background-color:#43A6CB;
color:white;
}

.tablecenter {
    text-align: center;
}

.tableright {
    text-align: right;
}

.tableleft {
    text-align: left;
}

.tablefill {
    background-color:#7FD5F5;
    color:white;
}

.adjust{
    font-size: 130%;
    font-weight: 300;
}
.textright{
    text-align: right;
}
#info{
    font-weight: 700;
    
}

#bottominfo a:link{
    color: #43A6CB;
}
#bottominfo a:hover{
    color: #7FD5F5;
}
#bottominfo a:visited{
    color: #43A6CB;
}

#disclaimer {
    clear: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #F2250A;
    color: #FFFFFF;
    text-align: center;
    font-style:italic;
}

#disclaimer span {
    font-weight:bold;
}

.divTable {
    width: 100%;
    display: table;
}
.contentArea {
    background-color: #FFFFFF;
    border-radius: 10px;
    border-width: 0px;
    padding: 1%;
}

.divTableInner {
    width: 100%;
    display: table;
}

.divRow {
    display: table-row;
}

#leftHalf {
    width: 42%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-right: 0%;
    display: table-cell;
}

#centre {
    width: 4%;
    margin-left: 46%;
    margin-top: 2%;
    margin-bottom: 2%; 
    display: table-cell;
}

#rightHalf {
    width: 42%;
    margin-left: 3.49%;
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-right: 4%;
    display: table-cell;
}

.basicArea {
    width: 70%;
    margin-left: 15%;
}

#top {
     margin-top: 10px;
}

.error {
    color:#F2250A;
    //font-weight: bold;
    
}

#meh {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#meh2 {
    margin-left: 33%;
    margin-right: 33%;
}